body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:black;

  } 

h1 {
    color: white;
}

h2 {
    color: white;
}

  .card {
      margin-left: 400px; 
     
  }

  .jumbotron {
    background-size: 50%; 
    text-align: center;
    
  }

  .card-deck {
      padding: 25px;
     
     

  }

  .card-img-top{
      width: 190px;
  }


 

  .text {
      color: blue;
  }

 
